* {
  text-align: center;
}
button {
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div {
  margin: 10px auto;
}
textarea {
  text-align: left;
  margin: 0 auto;
}
li {
  margin: 10px;
}
#info {
  margin: 0;
}

#list {
  font-weight: bold;
  margin-top: 20px;
}
#playlists {
  font-weight: bold;
  margin: 10px auto;
}
#inst2a {
  margin: 40px 0 0 0;
}
#inst2b {
  margin: 10px 0 0 0;
}
#inst3 {
  margin: 40px 0 0 0;
}
